//#

html
    font-family: $sans-serif !important
    font-size: 62.5%
    -ms-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%


    +between(tablet, desktop)
        font-size: 58%

    +below(tablet)
        font-size: 50%

body
    display: inline-block
    vertical-align: top
    width: 100% !important
    background: #fff
    max-width: 100%
    color: $gray !important
    height: 100% !important
    padding-top: 78px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    +below(desktop)
        padding-top: 70px

*, *::before, *::after
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    box-sizing: border-box

*, *:focus, *:active
    box-shadow: none
    outline: none

img
    max-width: 100%

.clearfix
    clear: both

input:focus,
select:focus,
textarea:focus,
button:focus 
    outline: none !important

input,
select,
textarea,
button 
    outline: none !important


[data-scroll-animation]
    opacity: 0
    &.animated
        opacity: 1

li
    list-style: none

a
    text-decoration: none

a:hover
    text-decoration: none !important



ul,
p
    margin: 0
    padding: 0
    
