.woocommerce-breadcrumb
	padding: 25px 55px !important
	font-size: 10px !important
	color: #a1a1a1

	+below(desktop)
		padding: 20px 20px 0 20px !important

	a
		font-size: 10px
		color: #a1a1a1

		&:hover
			color: #717171

	li
		float: left
		margin-right: 5px

	&.bread-white
		color: #fff

		a
			color: #fff
			

