.button-nav
    
	display: none

	+below(desktop)
		display: block

	.btn-burguer .icon-bar:nth-of-type(2)
		top: 1px

	.btn-burguer .icon-bar:nth-of-type(3)
		top: 2px

	.btn-burguer .icon-bar
		position: relative
		transition: all 0.3s

	.btn-burguer.active .icon-bar:nth-of-type(1)
		top: 10px
		transform: rotate(45deg)
		background: #000000

	.btn-burguer.active .icon-bar:nth-of-type(2)
		background-color: transparent

	.btn-burguer.active .icon-bar:nth-of-type(3)
		top: -4px
		transform: rotate(-45deg)
		background: #000000

	.btn-burguer
		height: 40px
		display: flex
		align-items: flex-end
		justify-content: center
		flex-direction: column
		cursor: pointer
		float: left
		z-index: 999999
		position: relative
		float: right
		width: 40px
		margin-top: 17px 

	.btn-burguer .icon-bar
		background: #000000
		display: table
		margin: 0 auto
		margin-bottom: 5px
		width: 26px
		height: 2px