.menu-mobile
    overflow-x: hidden
    float: left
    height: auto
    width: 100%
    position: absolute
    display: none
    visibility: hidden
    margin-top: 13px

    &.active
        visibility: visible

    +below(medium-large)
        display: block

    nav
        width: 100%
        background: #1f98d2
        right: 0
        z-index: 99
        transform: translateX(-100%)
        transition: all 0.4s
        opacity: 0

        &.active
            transform: translateX(0)
            opacity: 1

        > ul
            
            > li
                position: relative


                > a 
                    width: 100%
                    height: 40px
                    display: block
                    font-size: 18px
                    display: flex
                    align-items: center
                    padding-left: 20px
                    background: #000000
                    color: #fff
                    border-bottom: 1px solid #929292
                    font-size: 16px

                    &.icon

                        &:before
                            content: '\f0d7'
                            font-family: 'fontAwesome'
                            position: absolute
                            right: 20px
                            top: 3px
                            color: #fff
                            font-size: 25px


    .sub-menu
        display: none
        overflow-y: scroll
        height: 155px

        &.active-sub
            display: block

        > li
            > a
                padding: 10px 20px
                font-size: 12px
                border-bottom: 1px solid #757575
                display: block
                color: #fff
                background: #6b6b6b

        .drop-mobile
            position: relative

            &:after
                content: "\f0d7"
                font-family: "fontAwesome"
                position: absolute
                right: 20px
                top: 8px
                color: #fff
                font-size: 25px
            ul
                display: none

                &.active-drop
                    display: block

                li
                    a
                        font-size: 12px
                        padding: 10px 40px
                        display: block
                        background: #45a1db
                        color: #fff


