.nav-header
	margin-bottom: -1px
	
	+below(desktop)
		display: none

	> ul
		position: relative 

		> li
			display: inline
			float: left

			&.menu-item
				&:hover
					li,a
						background: $black
						color: $white


			&.current-menu-ancestor
				a
					background: $black
					color: $white

			&.current-menu-item
				a
					background: $black
					color: $white

			&:hover
				background: #000
				color: #fff

				.sub-menu
					opacity: 1
					transform: translate(0,0)
					visibility: visible

			> a
				padding: 30px 30px
				float: left
				border-left: 1px solid #e5e5e5
				color: $black
				font-size: 1.2rem
				font-weight: 500
				transition: all 0.6s
				position: relative
				text-transform: uppercase

				// &:before
				// 	content: ''
				// 	width: 10px
				// 	height: 10px
				// 	position: absolute
				// 	background: $black

				+at(desktop)
					padding: 30px 15px

				&:hover
					background: $black
					color: $white
		
			&:last-child
				a
					border-right: 1px solid #e5e5e5


	.sub-menu 
		position: absolute
		width: 100%
		top: 78px
		display: flex
		justify-content: flex-start
		flex-wrap: wrap
		opacity: 0
		margin: 0 1px
		transition: all 0.5s
		transform: translate(0px, 10px)
		visibility: hidden

		

		+below(large-desktop)
			top: 76px

		li
			display: inline
			width: 25%
			flex-wrap: wrap

			&.current-menu-item
				a
					background: #424242 !important

			a
				height: 40px
				display: flex
				font-size: 1.2rem
				color: #ffffff
				align-items: center
				border: 1px solid #2c2c2c
				width: 100%
				justify-content: center
				background: #000

				&:hover
					background: #424242 !important
