.slider
	position: relative
	padding-bottom: 15px

	img
		width: 100%
		height: auto

.slick-dots
	position: absolute
	bottom: -20px
	transform: translateX(-50%)
	left: 50%

	li
		float: left
		margin: 0 5px

		
		button
			font-size: 0px !important
			border-radius: 50%
			width: 21px
			height: 21px
			border: 3px solid #fff
			background: #e1e1e1

		&.slick-active
			
			button
				background: #000

.slider-loja
	.slick-dots
		bottom: -128px

		+below(large-desktop)
			bottom: -119px

		+below(tablet)
			bottom: -105px
			display: flex
			justify-content: center

		li
			button
				width: 17px
				height: 17px
				border: 2px solid #fff

