.inner-post
	.title-post
		font-size: 2.2rem
		color: $black
		margin-bottom: 10px
		display: block

	.thumb-single
		height: 280px !important
		margin-bottom: 10px

	.date
		font-size: 12px
		margin-bottom: 20px

	.caption
		&.-single
			font-size: 14px
			line-height: 18px
			
			p
				margin-bottom: 15px
				display: block

	img
		margin-bottom: 10px
		width: 100%
		height: auto


	ul
		padding-left: 10px
		
		li
			&:before
				content: '-'
				margin-right: 10px


	iframe
		max-width: 100%
		margin-top: 20px
		margin-bottom: 10px