footer
	background: #202020
	padding: 50px 0
	font-weight: 500

	+above(tablet)
		padding: 100px 0

	.column
		
		+above(phablet)
			border-right: 1px solid #4d4d4d

	.cl-1 
		padding: 10px 15px 10px 0

	.cl-2, 
	.cl-3
		padding: 10px 0

	.social-footer
		margin: 40px 0

		li
			display: block
			
			&:first-child
				margin-bottom: 20px

			a
				letter-spacing: 0.35px
				color: $white
				font-size: 14px
			i
				color: #b4b4b4
				font-size: 26px
				margin-right: 10px
				float: left

	.menu-footer
		margin-bottom: 30px
		li
			margin-bottom: 15px
			
			&:last-child
				margin-bottom: 0

			a

				color: #ffffff
				font-size: 1.4rem
				font-weight: 500
				letter-spacing: 0.35px
				font-family: $sans-serif

				+above(phablet)
					padding-left: 40px

	.infos
		ul
			li
				position: relative
				padding-left: 30px
				font-size: 12px
				color: $white
				margin-bottom: 15px
				
				+above(phablet)
					margin-left: 40px

				&:last-child
					margin-bottom: 0

				i
					position: absolute
					top: 0
					left: 0
					font-size: 14px
					color: #fff

					&.fa-map-marker
						font-size: 18px

	.mapa-footer 
		
		margin-top: 20px
		display: block

		+above(phablet)
			margin-left: 40px
			width: 180px

		+above(tablet)
			width: 220px

	.insta
		padding-right: 30px


	.lojas-footer
		margin-bottom: 30px

		li
			display: block
			font-size: 12px
			padding-bottom: 10px

			+above(phablet)
				margin-left: 40px

			&:before
				content: ''
				width: 3px
				height: 3px
				border-radius: 50%
				background: #ffffff
				display: inline-block
				float: left
				margin-top: 8px
				margin-right: 10px
				margin-left: 6px
			
.cop
	background: #000000
	font-size: 1.3rem
	color: #666666
	+below(phablet)
		padding: 10px 0
	
	.inner-ft
		display: flex
		justify-content: space-between
		width: 100%
		flex-wrap: wrap

		+below(phablet)
			flex-direction: column
			align-items: center

		> div
			padding: 40px 0

			+below(phablet)
				padding: 2px 0
	.dl
		p
			float: left
			margin-right: 10px
			margin-top: 1px
			margin-bottom: 0px

.maps
	height: 350px