header
	position: fixed
	top: 0
	width: 100%
	z-index: 1
	background: $white
	border-bottom: 1px solid #e5e5e5
	box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1)

	+below(desktop)
		height: 70px

	.header

		padding: 0 50px

		+below(desktop)
			padding: 0 20px

	.social
		font-size: 24px

		+below(desktop)
			display: none

		&.-header
			li
				float: left
				margin-left: 10px
				a
					color: $black