.header-title
	p
		margin-top: 20px
		margin-bottom: 0
		font-size: 13px

#gallery-prod
	margin-top: 65px
	display: block
	position: relative

	+below(tablet)
		margin-top: 35px

	.prod-home
		padding: 0 60px
		position: relative

		+below(mobile)
			padding: 0 20px

		.arrow-navigation
			position: absolute
			transform: translateY(-50%)
			top: 35%
			cursor: pointer

			+below(mobile)
				top: 30%
			
			&.prod-btn-back
				left: 0
			&.prod-btn-forward
				right: 0
		
		.slick-dots
			display: none !important
	
	.prod-inner
		a
			color: $gray
			font-weight: 500

			+below(phablet)
				margin-bottom: 30px

		.title-prod
			padding: 25px

			+below(mobile)
				padding: 25px 0
			
			a
				font-size: 13px

		.thumb
			padding: 10px
			border: 1px solid #cccccc

			+below(phablet)
				img
					width: 100%

		.link-prod
			a
				font-size: 12px
				width: 117px
				height: 33px
				border: 1px solid #959595
				background-color: #f5f5f5
				display: inline-block
				padding-top: 7px

				&:hover
					background-color: #d8d8d8


#banner-destaque
	padding: 25.0rem 0
	
	+below(tablet)
		padding: 20.0rem 0

	+below(phablet)
		padding: 15.0rem 0

	h2
		font-size: 6.0rem
		color: $white
		margin-bottom: 40px

		ul
			display: flex
			justify-content: center

	a
		width: 189px
		height: 42px
		border: 1px solid #ffffff
		font-size: 1.4rem
		color: $white
		display: inline-block
		padding-top: 10px
		font-weight: 500
		transition: all 0.4s

		&:hover
			background: $white
			color: $black
		

#nossas-lojas
	padding: 11.0rem 1rem 11.0rem 1rem
	position: relative

	.slider-loja

		margin: 0 auto
		width: 100%
		padding: 35px 20px
		background: rgba($black, 0.8)
		box-shadow: 0 5px 9px rgba(0, 0, 0, 0.56)
		font-size: 1.8rem
		letter-spacing: 0.9px
		margin-top: 45px

		+above(mobile)
			width: 570px

		.title-loja
			color: #ffde00
			font-weight: 900
			margin-bottom: 10px

		.end-loja
			color: $white
			font-weight: 500

		.tel
			color: $white
			margin-top: 10px
			font-size: 14px




