.content-noticias
	
	margin-top: 40px

	> .row
		> div
			+below(desktop)
				margin-bottom: 30px

	.thumb
		border: 1px solid #cccccc
		padding: 6px

		+below(desktop)
			
			img
				width: 100%

	.caption
		padding: 25px 5px
		font-size: 13px
		text-align: center
		letter-spacing: 0.65px
		font-weight: 500
			
		p
			margin-bottom: 0

	.link-noticia a
		
		width: 117px
		height: 33px
		border: 1px solid #959595
		background-color: #f5f5f5
		letter-spacing: 0.6px
		text-align: center
		font-size: 12px
		display: table
		margin: 0 auto
		font-weight: 500
		padding-top: 5px
		color: $gray

		&:hover
			background-color: #d8d8d8

.section-noticia
	padding-bottom: 70px