.woocommerce-products-header
	h1
		display: none

.image-category
	margin: 0 auto
	display: table

.produtos
	position: relative
	.product_cat-oculos-de-grau
		&.active
			opacity: 0
			position: absolute !important
			visibility: hidden

	.product_cat-oculos-de-sol
		&.active
			opacity: 0
			position: absolute !important
			visibility: hidden