.woocommerce-result-count,
.woocommerce-ordering
	display: none

.woocommerce-products-header
	margin: 0 auto
	margin-bottom: 60px

	+below(desktop)
		margin-bottom: 40px
		margin-top: 20px

.filter-list
	font-size: 12px
	font-weight: 600
	color: #2c2c2c
	width: 70%
	margin: 0 auto
	margin-bottom: -1px

	+below(tablet)
		width: 100%
		margin-bottom: 40px

	ul
		margin-bottom: 0
		margin: 0 auto
		display: flex
		justify-content: center

		+below(tablet)
			flex-wrap: wrap
		
		li
			padding: 18px 0px
			display: inline-block
			cursor: pointer
			text-align: center
			width: 33%

			+below(tablet)
				width: 100%
				margin-bottom: 2px
				background: #d9d9d9
				color: #474747

			&.active

				+below(tablet)
					background: #969696
					color: #ffffff

				&:nth-child(1)~.line-hover
					transform: translate3d(0,0,0)

				&:nth-child(2)~.line-hover
					transform: translate3d(100%,0,0)

				&:nth-child(3)~.line-hover
					transform: translate3d(200%,0,0)


	.inner-list
		position: relative
		width: 100%

		.line-hover
			position: absolute
			border-top: 1px solid #c2c2c2
			border-left: 1px solid #c2c2c2
			border-right: 1px solid #c2c2c2
			border-bottom: 1px solid #ffffff
			top: 0
			height: 54px
			width: 33.3%
			left: 0
			transition: transform .50s cubic-bezier(.9,.1,.03,.98) 2.46711ms

			+below(tablet)
				display: none




.line-filter
	background: #bfbfbf
	width: 100%
	height: 1px
	margin-bottom: 80px

	+below(tablet)
		display: none	