.produtos
	width: 100%
	margin-bottom: 70px

	li
		position: relative
		border: 1px solid #cccccc
		padding: 20px
		margin-bottom: 60px
		transition: all 0.2s ease 

		&:hover
			padding: 10px

		img
			width: 100%
		h2,
		.price
			position: absolute
			bottom: 40px
			transform: translateX(-50%)
			left: 50%

.woocommerce-loop-product__title
	font-size: 12px
	color: #646464
	margin-bottom: 55px

.price
	color: $black !important
	font-family: $pt-serif
	font-size: 24px !important

.link-prod__produto
	position: absolute
	width: 120px
	height: 34px
	background-color: #000000
	font-size: 12px
	color: $white
	text-align: center
	padding-top: 7px
	transform: translateX(-50%)
	bottom: -15px
	left: 50%

	&:hover
		color: #fff