.content-single-product
	margin-top: 50px

.woocommerce div.product
	width: 100%


.content-infos__prod
	position: sticky
	top: 100px
	padding-bottom: 10px
	

	+above(tablet)
		padding-left: 30px

	.title-prod,
		font-family: $pt-serif
		font-size: 24px !important
		color: $black !important

	.desc-prod
		margin-top: 40px
		display: block
		
		span
			font-size: 14px
			color: $black
			margin-bottom: 20px
			display: block

		p
			color: #929292
			line-height: 24px
			letter-spacing: 0.6px
			font-size: 12px

	
	.price-single
		padding: 40px 0
		display: block


.woocommerce-product-gallery
	width: 100% !important

	figure
		div
			margin-bottom: 70px