.header-page
	h3
		color: $white
		font-size: 6.5rem
		font-weight: 400
		padding-top: 90px
		padding-bottom: 205px
		text-align: center
		font-family: $pt-serif

		+below(desktop)
			padding-top: 40px
			padding-bottom: 135px

		+below(phablet)
			font-size: 42px

#lojas
	margin-top: -50px
	margin-bottom: 100px

	.blocos-lojas
		text-align: center

		.item
			background: #000
			padding: 0 60px
			font-size: 14px
			color: $white
			font-weight: 500
			margin-bottom: 30px
			height: 260px
			display: flex
			flex-direction: column
			justify-content: center

		.title-loja
			color: #ffde00
			font-weight: 900
			margin-bottom: 30px
			font-size: 1.8rem
			font-weight: 700

		.end-loja
			margin-bottom: 20px
