.formulario
	form
		.item-form
			margin-bottom: 25px

			label
				display: block
				color: #000
				font-size: 12px
				margin-bottom: 6px

			input[type=text]
				width: 100%
				height: 35px
				border: 1px solid #acacac
				font-size: 14px
				color: #8c8c8c
				padding: 0 10px


			textarea
				width: 100%
				height: 204px
				border: 1px solid #acacac

		
		.item-send
			margin: 0 auto
			
			+above(tablet)
				margin-top: 60px

			input[type=submit]
				width: 194px
				height: 42px
				background-color: #000000
				font-weight: 700
				font-size: 12px
				color: $white
				border: none


// Contact Form

.wpcf7-response-output 
	color: #fff
	display: table !important
	margin: 0 auto !important
	margin-top: 20px !important
	border: none !important
	text-align: center
	font-size: 12px
	font-weight: 500

div.wpcf7-validation-errors
	background: red

div.wpcf7-mail-sent-ok
	background: green


